#footer {
  &.form__footer, &.cgv__footer .button {
    margin: 1rem;
  }
  &.form__footer, &.cgv__footer, &.cgu__footer {
    text-shadow: 0.55rem 0.55rem #15FFF5;
  }
  &.cgv__footer {
    margin: 0.5rem;
    .button {
      padding: 1rem;
      font-size: 1.5rem;
    }
  }
  &.cgu__footer {
    margin: 0.5rem;
  }
}
